#signup-box {
    border: 1px solid gray;
    border-radius: 6px;
    background-color: white;
    font-family: Geneva;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#signup-form {
    margin: 15px;
    line-height: 2;
}
#disclamer {
    width: 350px;
    font-size: 12px;
    margin-top: 166px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    line-height: normal;
}
#signup-button {
    margin-top: 20px;
    border-radius: 6px;
    width: 150px;
    height:  40px;
    background: #66a03b;
    font-size: 16px;
    color: white;
    display: table-cell;
    horiz-align: center;
}
p {
    font-size: 12px;
    margin-top: 3px;
    line-height: normal;
}